<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>用户名</mat-label>
                <input name="email" formControlName="email" matInput placeholder="请输入邮件">
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>密码</mat-label>
                <input type="password" name="password" formControlName="password" matInput placeholder="请输入密码">
            </mat-form-field>

        </div>
        <div *ngIf="role=='Admin'||role=='SuperAdmin'" class="row">
            <mat-form-field appearance="outline">
                <mat-label>权限</mat-label>
                <mat-select name="role" formControlName="role" placeholder="请设置权限">
                    <mat-option value="User">普通用户</mat-option>
                    <mat-option value="Admin">管理员用户</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div *ngIf="role=='Admin'||role=='SuperAdmin'" class="row">
            <mat-form-field appearance="outline">
                <mat-label>账号名</mat-label>
                <input type="user_name" name="user_name" formControlName="user_name" matInput placeholder="请输入密码">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="form-buttons">
                <button class="btn btn-primary" (click)="login()">{{(role==''?"登录":"新建用户")}}</button>
            </div>
        </div>
    </form>
</div>