<table class="operatorTable" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">修改</th>
            <th scope="col">干员名字</th>
            <th scope="col">技能</th>
            <th scope="col">技能用法</th>
            <th scope="col">删除</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="onDrop('operator',$event)">
        <tr *ngFor="let user of operators;let i = index" cdkDrag cdkDragLockAxis="y">
            <th class="col-xs">
                <div class="drag-handle">
                    <ng-container [ngTemplateOutlet]="dragHandleTmpl">
                    </ng-container>
                </div>
            </th>
            <td class="col-md"><button type='button' (click)="edit(i)" class='btn btn-default'><span
                        class="material-symbols-outlined">
                        edit
                    </span></button></td>
            <td class="col-md">
                {{ user.name }}</td>
            <td class="col-md">{{ user.skill }}
            </td>
            <td class="col-md">
                {{ user.skill_usage }}</td>
            <td class="col-md"><button type='button' (click)="delete(i)" class='btn btn-default'><span
                        class="material-symbols-outlined">
                        delete
                    </span></button></td>
        </tr>
    </tbody>
</table>

<form class="form" (submit)="save()">

    <div class="row" style="font-size: 12px">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>干员名字</mat-label>
            <input type="text" placeholder="请输入" aria-label="干员名字" matInput [matAutocomplete]="auto"
                [formControl]="myControl" required="true">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="row" style="font-size: 12px">
        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>技能</mat-label>
                <input type="number" max="3" min="1" matInput [(ngModel)]="operator.skill"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>技能用法</mat-label>
                <mat-select [(ngModel)]="operator.skill_usage" [ngModelOptions]="{standalone: true}">
                    <mat-option value=0>不自动使用</mat-option>
                    <mat-option value=1>好了就用，有多少次用多少次</mat-option>
                    <mat-option value=2>好了就用，仅使用一次</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <button *ngIf="index>=0" type="submit" id="updateActionButton" class="btn btn-primary">更新</button>
    <button *ngIf="index<0" type="submit" id="updateActionButton" class="btn btn-primary">新增</button>
</form>
<ng-template #dragHandleTmpl>
    <svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
            clip-rule="evenodd" />
    </svg>
</ng-template>