<div class="container" style="font-size: 18px">
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>关卡名</mat-label>
          <input matInput placeholder="请输入关卡名">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>标题</mat-label>
          <textarea matInput placeholder="Placeholder"></textarea>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>作业介绍</mat-label>
          <textarea matInput placeholder="Placeholder"></textarea>
        </mat-form-field>
      </div>
  
    </div>
    <div class="row">
      <div class="col-4">
        operator
      </div>
      <div class="col-8">
        <app-action></app-action>
      </div>
  
    </div>
  </div>